<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>Form</title>
</head>

<body class="parent">
    <div class="form" style="border-radius: 15px;">
        <form action="./first" method="post" enctype="multipart/form-data">
            <div class="title">
                <h1>Sign Up</h1>
                
            </div>
            <div class="name">
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="name" name="firstName" class="form-control" id="firstName" placeholder="First Name" required>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="name" name="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="emailaddress" class="form-label">Email Address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" pattern="[a-zA-Z0-9!#$%&amp'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" required>
            </div>

            <div class="mb-3">
                <label id="title-tell-us" class="form-label" for="sports">
                    <text class="question-title">Tell us a little about yourself!</text>
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label" for="font">
                    What's your favorite font?
                </label>
                <select class="form-control" id="font" name="font">
                    <option>Serif</option>
                    <option>Sans Serif</option>
                    <option>Cursive</option>
                    <option>Fantasy</option>
                    <option>Monospace</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="color">
                    What's your favorite color?
                </label>
                <select class="form-control" id="color" name="color">
                    <option>Green</option>
                    <option>Blue</option>
                    <option>Yellow</option>
                    <option>Orange</option>
                    <option>Red</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="season">
                    What's your favorite season?
                </label>
                <select class="form-control" id="season" name="season">
                    <option>Spring</option>
                    <option>Summer</option>
                    <option>Fall</option>
                    <option>Winter</option>
                </select>
            </div>

            <div class="mb-3">
                <text class="question-title">Upload a Profile Picture</text>
                <br>
                <input type="file" id="title-profile" name="profile" class="form-label" for="profile">
                 
            </input>
                <br>
            </div>
            <div class="d-flex justify-content-center interactive-button">
                <button type="submit" class="btn btn-success btn-lg btn-lock">Sign Up</button>
            </div>
            <div class="error-message">
                <% if(userExistsMessage != null) { %>
                    <p style="color: red;"> <%= userExistsMessage %> </p>
                <% } %>
            </div>
            <p class="text-center text-muted mt-5 mb-0">Have an account already? <a href="/" class="fw-bold text-body"><u>Log In</u></a></p>
        </form>
    </div>
</body>

</html>