body {
    margin: auto;
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
    
    /* background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)); */
    /* background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)) */
}

.btn {
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgb(83, 165, 202));
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}

.form {
    background-color: white;
}

.name {
    display: flex;
}

.title h1 {
    margin-bottom: 50px;
    font-weight: bolder;
    
}

.form {
    margin: auto;
    margin-top: 5%;
    border: 1px solid;
    border-radius: 1%;
    width: 50%;
}

form {
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%
}

.form-control {
    width: 90%;
}

.sports {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.form-check {
    margin-right:10px;
}